* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
  
.wrapper {
  max-width: 1310px;
  margin: 0 auto;  
}
a {
    color: white;
}

a:hover {
  color: white !important;
  text-decoration: none;
  }
   
.bg-bright-red {
  background-color: #D35649;
}

   .text-bright-red {
     color: #D35649 ;
   }
  
   .logo {
     width: 41px;
   }
  
   .navigation-main p {
     font-size: 2em;
     margin: 0;
   }
  
   .navigation {
    text-align: center; 
    padding: 10px;
    margin: 0;
    max-width: 100%;
   }
  
   .nav-info li{
    padding-left: 30px;
   }

   .background-image-container {
    background:
    url("image/events-logo.jpg");
      background-size: cover;
  background-position: center;
  padding-bottom: 50px;
  position: relative;
  height: 80vh;
   }
  
   .background-image-container-main {
    position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
   }
   .background-image-text h1{
     font-size: 28px;
     padding-left: 10px;
   }